<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col><ion-button [routerLink]="['/listar']" size="small" color="warning">Atras</ion-button></ion-col>
        <ion-col style="color: rgb(177, 121, 0); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: large ;">Club Caramelo</ion-col>
        <ion-col><ion-button [routerLink]="['/listar-carrito']" size="small" color="warning">Reserva</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="autoActivo"
  [id]="autoActivo.id">
  <ion-img [src]="autoActivo.foto"></ion-img>
    <ion-card-header>
      <ion-card-title>
        {{ autoActivo.nombre }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <br>
      <ion-card-subtitle>Ubicacion: {{ autoActivo.ubicacion }}</ion-card-subtitle>
      <ion-card-subtitle>Tematica: {{ autoActivo.tematica }}</ion-card-subtitle>
      <ion-card-subtitle>Capacidad: {{ autoActivo.capacidad }}</ion-card-subtitle>
      <ion-card-subtitle>Cantidad: {{ autoActivo.cantidad }}</ion-card-subtitle>
      <ion-card-subtitle>Precio: {{ autoActivo.precio | currency: 'CLP' }}</ion-card-subtitle>
      <br>
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col><ion-button color="warning" (click)="addCart(autoActivo)">Agregar Reserva</ion-button></ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
      <ion-card *ngFor="let a of musica">
        <div class="card-image-wrapper">
          <img [src]="a.foto" class="card-image" />
        </div>
        <ion-card-header>
          <ion-card-title>{{ a.nombre }}</ion-card-title>
          <ion-card-title>{{ a.detalle }}</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card *ngFor="let a of productos">
        <div class="card-image-wrapper">
          <img [src]="a.foto" class="card-image" />
        </div>
        <ion-card-header>
          <ion-card-title>{{ a.nombre }}</ion-card-title>
          <ion-card-title>{{ a.detalle }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
