.card-image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Proporción de aspecto de 16:9 (9 / 16 * 100) */
  }
  
  .card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor */
  }
  .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
  
  .star {
    color: grey;
    transition: color 0.3s ease-in-out;
  }
  
  .filled {
    color: yellow;
  }