<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
      <ion-col><ion-button [routerLink]="['/listar']" size="small" color="warning">Volver</ion-button></ion-col>
      <ion-col><ion-title style="color: rgb(177, 121, 0); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: large; text-align: center;">Reservas <ion-icon name="beer"></ion-icon></ion-title></ion-col>
      <ion-col></ion-col>
    </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let a of cart ">
    <img [src]="a.foto" />
    <ion-card-header>
      <ion-card-title>{{ a.nombre }}</ion-card-title>
      <br>
      <ion-card-subtitle>Ubicacion: {{ a.ubicacion }}</ion-card-subtitle>
      <ion-card-subtitle>Tematica: {{ a.tematica }}</ion-card-subtitle>
      <ion-card-subtitle>Capacidad: {{ a.capacidad }}</ion-card-subtitle>
      <ion-card-subtitle>Cantidad: {{ a.cantidad }}</ion-card-subtitle>
      <ion-card-subtitle>Precio: {{ a.precio | currency: 'CLP' }}</ion-card-subtitle>
      <br>
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col><ion-button (click)="eliminarAutos(a.id)" color="warning" >Eliminar reserva</ion-button></ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>
</ion-content>
<ion-item *ngIf="cart">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col style="text-align: center;"><ion-button size="medium" color="warning">Pagar</ion-button></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
