<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col><ion-button [routerLink]="['/iniciar-sesion']" size="small" color="warning">Salir</ion-button></ion-col>
        <ion-col style="color: rgb(177, 121, 0); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: large ;">Club Caramelo</ion-col>
        <ion-col><ion-button [routerLink]="['/listar-carrito']" size="small" color="warning">Reserva</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let a of autoMovil">
    <img [src]="a.foto" />
    <ion-card-header>
      <ion-card-title>{{ a.nombre }}</ion-card-title>
      <ion-card-title>{{ a.ubicacion }}</ion-card-title>
      <br>
      <ion-card-subtitle>Direccion: {{ a.direccion }}</ion-card-subtitle>
      <ion-card-subtitle>Tematica: {{ a.tematica }}</ion-card-subtitle>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="goToMap(a.latitud, a.longitud)" size="medium" color="warning">
            <ion-icon name="map-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button [routerLink]="['/automoviles', a.id]" size="medium" color="warning">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="ShareApp(a.nombre, a.direccion)" size="medium" color="warning">
            <ion-icon name="share-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="rating-col">
          <!-- Valoración con iconos de estrellas -->
          <div class="rating">
            <ion-icon name="star" [ngClass]="{'filled': calificacionesPromedio[a.id] >= 1}"></ion-icon>
            <ion-icon name="star" [ngClass]="{'filled': calificacionesPromedio[a.id] >= 1.7}"></ion-icon>
            <ion-icon name="star" [ngClass]="{'filled': calificacionesPromedio[a.id] >= 2.7}"></ion-icon>
            <ion-icon name="star" [ngClass]="{'filled': calificacionesPromedio[a.id] >= 3.7}"></ion-icon>
            <ion-icon name="star" [ngClass]="{'filled': calificacionesPromedio[a.id] >= 4.7}"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="cargarMasAutos()">
    <ion-infinite-scroll-content loadingText="Cargando ..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
