<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col><ion-button [routerLink]="['/listar-admin']" size="small" color="warning" ><ion-icon name="arrow-back-outline"></ion-icon> Volver</ion-button></ion-col>
        <ion-col><ion-col style="color: rgb(177, 121, 0); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: large ;">Club Caramelo Modificar</ion-col></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form novalidate [formGroup]="formulario" (ngSubmit)="modificarAuto()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input
      formControlName="nombre" type="text"></ion-input>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('nombre').invalid && obtenerCampo('nombre').errors && obtenerCampo('nombre').errors.required && fueTocado('nombre')
        "
        > Este campo es requerido</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('nombre').invalid && obtenerCampo('nombre').errors && obtenerCampo('nombre').errors.maxlength && fueTocado('nombre')
        "
        > La cantidad de caracteres maxima es 15</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('nombre').invalid && obtenerCampo('nombre').errors && obtenerCampo('nombre').errors.minlength && fueTocado('nombre')
        "
        > La cantidad de caracteres minima es 3</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ubicacion</ion-label>
      <ion-input
      formControlName="ubicacion" type="text"></ion-input>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('ubicacion').invalid && obtenerCampo('ubicacion').errors && obtenerCampo('ubicacion').errors.required && fueTocado('ubicacion')
        "
        > Este campo es requerido</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('ubicacion').invalid && obtenerCampo('ubicacion').errors && obtenerCampo('ubicacion').errors.maxlength && fueTocado('ubicacion')
        "
        > La cantidad de caracteres maxima es 15</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('ubicacion').invalid && obtenerCampo('ubicacion').errors && obtenerCampo('ubicacion').errors.minlength && fueTocado('ubicacion')
        "
        > La cantidad de caracteres minima es 3</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Direccion</ion-label>
      <ion-input
      formControlName="direccion" type="text"></ion-input>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('direccion').invalid && obtenerCampo('direccion').errors && obtenerCampo('direccion').errors.required && fueTocado('direccion')
        "
        > Este campo es requerido</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('direccion').invalid && obtenerCampo('direccion').errors && obtenerCampo('direccion').errors.maxlength && fueTocado('direccion')
        "
        > La cantidad de caracteres maxima es 15</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('direccion').invalid && obtenerCampo('direccion').errors && obtenerCampo('direccion').errors.minlength && fueTocado('direccion')
        "
        > La cantidad de caracteres minima es 3</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tematica</ion-label>
      <ion-input
      formControlName="tematica" type="text"></ion-input>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('tematica').invalid && obtenerCampo('tematica').errors && obtenerCampo('tematica').errors.required && fueTocado('tematica')
        "
        > Este campo es requerido</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('tematica').invalid && obtenerCampo('tematica').errors && obtenerCampo('tematica').errors.maxlength && fueTocado('tematica')
        "
        > La cantidad de caracteres maxima es 15</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('tematica').invalid && obtenerCampo('tematica').errors && obtenerCampo('tematica').errors.minlength && fueTocado('tematica')
        "
        > La cantidad de caracteres minima es 3</ion-note>
    </ion-item>
        <ion-item>
      <ion-label position="floating">Capacidad</ion-label>
      <ion-input
        formControlName="capacidad"
      type="number"></ion-input>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('capacidad').invalid && obtenerCampo('capacidad').errors && obtenerCampo('capacidad').errors.required && fueTocado('capacidad')
        "
        > Este campo es requerido</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('capacidad').invalid && obtenerCampo('capacidad').errors && obtenerCampo('capacidad').errors.max && fueTocado('capacidad')
        "
        > El valor maximo es 100</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('capacidad').invalid && obtenerCampo('capacidad').errors && obtenerCampo('capacidad').errors.min && fueTocado('capacidad')
        "
        > El valor minimo es 0</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input
        formControlName="cantidad"
      type="number"></ion-input>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('cantidad').invalid && obtenerCampo('cantidad').errors && obtenerCampo('cantidad').errors.required && fueTocado('cantidad')
        "
        > Este campo es requerido</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('cantidad').invalid && obtenerCampo('cantidad').errors && obtenerCampo('cantidad').errors.max && fueTocado('cantidad')
        "
        > El valor maximo es 100</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('cantidad').invalid && obtenerCampo('cantidad').errors && obtenerCampo('cantidad').errors.min && fueTocado('cantidad')
        "
        > El valor minimo es 0</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input
        formControlName="precio"
      type="number"></ion-input>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('precio').invalid && obtenerCampo('precio').errors && obtenerCampo('precio').errors.required && fueTocado('precio')
        "
        > Este campo es requerido</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('precio').invalid && obtenerCampo('precio').errors && obtenerCampo('precio').errors.max && fueTocado('precio')
        "
        > El valor maximo es 100</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('precio').invalid && obtenerCampo('precio').errors && obtenerCampo('precio').errors.min && fueTocado('precio')
        "
        > El valor minimo es 0</ion-note>
    </ion-item>

    <ion-item>
      <ion-input
        (change)="cambiarFoto($event)"
        formControlName="foto"
        type="file"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('foto').invalid && obtenerCampo('foto').errors && obtenerCampo('foto').errors.required && fueTocado('foto')
        "
        > Este campo es requerido</ion-note>
    </ion-item>
    <ion-item>
      <ion-button
        type="submit"
        [disabled]="formulario.invalid && !cargaArchivo" size="small" color="warning" style="margin-left: auto; margin-right: auto;"><ion-icon name="pencil-sharp"></ion-icon>Modificar </ion-button>
    </ion-item>
  </form>
</ion-content>
